.list{
    display: flex;
    flex-direction: column;
    list-style: disc;
}

.item{
    display: inline-flex;
}

.item:not(:first-of-type){
    margin-top: 20px;
}

.loader{
display:flex;
align-items: center;
justify-content: center;
}

.phone{
margin-left: 10px;
margin-right: 10px;
}

.btn{

}